[Desktop Entry]
Type=Application
Name=OpenLW
GenericName=Livewire and AES67 Audio over IP
Comment=Receive and transmit Livewire and AES67 audio on the computer
Exec=openlw
Icon=fr.francois_brille.openlw
Terminal=false
Categories=AudioVideo;Audio;
Keywords=Livewire;AES67;AoIP;RTP;PipeWire;network;radio;
StartupNotify=true
